@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bodoni Moda", serif;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #313131;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #313131 inset;
  box-shadow: 0 0 0px 1000px #313131 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

@layer utilities {
  @media (min-width: 768px) {
    /* Adjust the min-width value based on the 'md' breakpoint you've set in Tailwind CSS */
  }
  .image-gradient-border {
    background:
      linear-gradient(#efefef87, #fbe1fed0) padding-box,
      linear-gradient(to bottom, #efefefa0, #fbe1fed0) border-box;
    border: 4px solid transparent;
  }
  .gradient-button {
    border: 2px solid;
    border-color: #db99ff;
    background: linear-gradient(180deg, #d080ff 20.41%, #b833ff 100%);

    transition:
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }
  .gradient-bg {
    background: linear-gradient(180deg, #d080ff 10.41%, #b833ff 100%);
  }
  @media (hover: hover) and (pointer: fine) {
    .gradient-button:hover {
      transform: translateY(-2px); /* Slight raise effect */
      box-shadow:
        0 10px 20px rgba(179, 42, 254, 0.4),
        inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5); /* Inset Shadow */
    }
  }
  .gradient-s-button {
    border: 2px solid;
    border-color: #fdf7ff75;
    background: linear-gradient(180deg, #464646 26.39%, #323232 100%);

    transition:
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }
  .gradient-s-button:hover {
    transform: translateY(-2px); /* Slight raise effect */
    box-shadow: 0 10px 20px rgba(94, 94, 94, 0.094); /* Shadow effect */
  }
  .arrow {
    transition:
      transform 0.3s ease-in-out,
      color 0.3s ease-in-out;
    color: #464646; /* Smooth transition */
    transform: translateX(10px);
  }

  .LinkContainer:hover .arrow {
    transform: rotate(-45deg); /* Rotate the arrow 90 degrees */
    color: #d080ff;
  }
  .number {
    transition: all 0.3s ease-in-out;
    transform: translateX(5px);
  }
  .LinkContainer:hover .number {
    color: rgb(253 247 255 / 0.1);
    scale: 1.1;
    transform: rotate(-5deg); /* Rotate the arrow 90 degrees */
  }
  .radial-gradient {
    background-image: radial-gradient(
      circle at center,
      #b42afed4 0%,
      #892afed4 20%,
      #b32afed4 60%,
      #7b2afed4 80%,
      #b32afed4 100%
    );
  }
  :root {
    --radius: 0.3rem;
  }
  .gradient-text {
    background: linear-gradient(
      to bottom,
      #fdf7ff 40%,
      #db99ff
    ); /* Replace '#yourPrimaryColor' with the actual color value */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .gradient-p {
    background: linear-gradient(
      to bottom,
      #fdf7ff,
      #fdf7ff,
      #fdf7ff,
      #fdf7ff,
      #573c66
    ); /* Replace '#yourPrimaryColor' with the actual color value */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .shadow-elegant {
    box-shadow:
      #101010 0px 0px 80px 30px inset,
      rgba(255, 255, 255, 0.05) 0px 10px 100px -10px;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  /* FONTS */

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }
  .medium-18 {
    @apply text-[18px] font-[600];
  }
  .medium-16 {
    @apply text-[16px] font-[600];
  }
  .medium-12 {
    @apply text-[12px] font-[600];
  }

  .medium-52 {
    @apply text-[52px] font-[500] leading-[130%];
  }

  .medium-40 {
    @apply text-[40px] font-[500] leading-[130%];
  }

  .medium-32 {
    @apply text-[32px] font-[500] leading-[130%];
  }

  .bold-16 {
    @apply text-[16px] font-[600];
  }
  .bold-14 {
    @apply text-[14px] font-[500];
  }
  .text-glow {
    text-shadow: 0 0 20px rgba(219, 153, 255, 0.251);
  }

  .animate-rotate-glow {
    /* Using conic-gradient for a colorful wheel-like effect */
    background: conic-gradient(
      from 0deg at 50% 50%,
      rgba(179, 42, 254, 1) 0%,
      rgba(156, 107, 255, 0.611) 80%
    );
    filter: blur(90px); /* Soft glow effect */
    animation: rotate-glow 10s linear infinite; /* Infinite rotation */
  }
  @keyframes rotate-glow {
    0% {
      transform: rotate(0deg) translateX(40px) scale(1); /* Starting state: no rotation, no scale */
    }
    50% {
      transform: rotate(180deg) translateX(0px) scale(1.1); /* Mid animation: half rotation, slight scale up */
    }
    100% {
      transform: rotate(360deg) translateX(40px) scale(1); /* Ending state: full rotation, back to original scale */
    }
  }
  @keyframes ping {
    0% {
      transform: scale(0.1);
      opacity: 0.7;
    }
    80% {
      transform: scale(1.2);
      opacity: 0;
    }
    100% {
      transform: scale(1.3);
      opacity: 0;
    }
  }

  .purple-ping {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
    border-radius: 100%;
    border: 20px double rgba(179, 42, 254, 0.3);
    position: absolute;
    filter: blur(20px);
    width: 80%;
    height: 80%;
    content: "";
  }
  .stars {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0.5px;
    width: 0.5px;
    background-color: #fff;
    border-radius: 50%;
    animation: zoom 20s ease-in-out alternate infinite;
    box-shadow:
      18vw 7vh 3px 0px rgba(255, 255, 255, 1),
      9vw -18vh 3px 1px rgba(255, 255, 255, 1),
      -33.75vw -16.5vh 3px 0px rgba(255, 255, 255, 1),
      -27.75vw -30vh 3px 1px rgba(255, 255, 255, 1),
      21.75vw 14.25vh 3px 1px rgba(255, 255, 255, 1),
      3.5vw -5.6vh 3px 1px rgba(255, 255, 255, 1),
      -3.75vw 15.75vh 3px 1px rgba(255, 255, 255, 1),
      -20.25vw 19.5vh 3px 1px rgba(255, 255, 255, 1),
      -35.25vw -2.25vh 3px 1px rgba(255, 255, 255, 1),
      -21vw -22.5vh 3px 1px rgba(255, 255, 255, 1),
      -32.25vw -20.25vh 3px 1px rgba(255, 255, 255, 1),
      3.5vw 15.4vh 3px 1px rgba(255, 255, 255, 1),
      27vw 17.25vh 3px 0px rgba(255, 255, 255, 1),
      -15.75vw 18vh 3px 1px rgba(255, 255, 255, 1),
      -12vw 1.5vh 3px 0px rgba(255, 255, 255, 1),
      -12vw -4.5vh 3px 0px rgba(255, 255, 255, 1),
      3.75vw 19.5vh 3px 0px rgba(255, 255, 255, 1),
      -25.5vw 30.75vh 3px 0px rgba(255, 255, 255, 1),
      0.75vw 31.5vh 3px 1px rgba(255, 255, 255, 1),
      8.25vw -9.75vh 3px 1px rgba(255, 255, 255, 1),
      36vw -6vh 3px 0px rgba(255, 255, 255, 1),
      16.5vw -11.25vh 3px 0px rgba(255, 255, 255, 1),
      33.75vw 36.75vh 3px 0px rgba(255, 255, 255, 1),
      32.25vw -20.25vh 3px 1px rgba(255, 255, 255, 1),
      15vw -1.5vh 3px 0px rgba(255, 255, 255, 1),
      6vw 15.4vh 3px 1px rgba(255, 255, 255, 1),
      29.25vw 30vh 3px 1px rgba(255, 255, 255, 1),
      -21vw -8.25vh 3px 1px rgba(255, 255, 255, 1),
      -30vw 33.75vh 3px 1px rgba(255, 255, 255, 1),
      8.25vw -22.5vh 3px 0px rgba(255, 255, 255, 1),
      19.5vw 22.5vh 3px 0px rgba(255, 255, 255, 1),
      33.75vw -21.75vh 3px 1px rgba(255, 255, 255, 1),
      -1.5vw 13.5vh 3px 0px rgba(255, 255, 255, 1),
      -21.75vw -33.75vh 3px 0px rgba(255, 255, 255, 1),
      -5.25vw -20.25vh 3px 1px rgba(255, 255, 255, 1),
      31.5vw 18vh 3px 0px rgba(255, 255, 255, 1),
      33.75vw -36vh 3px 1px rgba(255, 255, 255, 1),
      -27vw -13.5vh 3px 0px rgba(255, 255, 255, 1),
      -33vw 9.75vh 3px 1px rgba(255, 255, 255, 1),
      27.75vw -21vh 3px 0px rgba(255, 255, 255, 1),
      -1.5vw -18vh 3px 1px rgba(255, 255, 255, 1),
      -15vw -21vh 3px 0px rgba(255, 255, 255, 1),
      -32.25vw 9.75vh 3px 1px rgba(255, 255, 255, 1),
      5.25vw 13.5vh 3px 0px rgba(255, 255, 255, 1),
      35.25vw 7.5vh 3px 0px rgba(255, 255, 255, 1),
      -33vw 11.25vh 3px 1px rgba(255, 255, 255, 1),
      -2.5vw -21vh 3px 1px rgba(255, 255, 255, 1),
      28.5vw 18.75vh 3px 1px rgba(255, 255, 255, 1),
      -21.5vw -18.75vh 3px 0px rgba(255, 255, 255, 1),
      24.5vw -9.75vh 3px 1px rgba(255, 255, 255, 1),
      16.5vw 24.75vh 3px 1px rgba(255, 255, 255, 1),
      14.625vw 19.5vh 3px 1px rgba(255, 255, 255, 1),
      14.625vw -30.375vh 3px 1px rgba(255, 255, 255, 1),
      14vw 1.5vh 3px 0px rgba(255, 255, 255, 1);
  }
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  @keyframes FadeInUp {
    0% {
      opacity: 0;
      transform: translateY(60px) scale(0.9);
      filter: blur(15px);
    }

    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
      filter: blur(0);
    }
  }

  .animatedItem {
    animation: FadeInUp 700ms cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    opacity: 0;
    will-change: transform, opacity, filter;
  }

  @media (prefers-reduced-motion: reduce) {
    .animatedItem {
      animation: none;
      opacity: 1;
    }
  }
}
